@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Dmitry Andrienko</strong><br />
    <abbr title="Phone">Phone:</abbr>
    +375 44 7649257<br />
    <abbr title="Email">Email:</abbr> <a href="mailto:d.andrienko@live.com">d.andrienko@live.com"</a><br />
</address>
