@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData["Success"] != null) {
    <div class="alert alert-success alert-dismissible show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Well done!</strong> @ViewData["Success"]
    </div>
}
else if (ViewData["Error"] != null) {
    <div class="alert alert-danger alert-dismissible show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            <strong>Oh snap!</strong> @ViewData["Error"]
            <br /><br />
            <ul>
                @foreach(var error in ViewBag.Errors) {
                    <li>@error</li>
                }
            </ul>
    </div>
}


<div class="row">
    <div class="col-md-6">
        <h2>User management</h2>
        <ul>
            <li><a href="/api@(Url.Action("Register"))">Register new user</a></li>
            <li><a href="/api@(Url.Action("Accounts"))">Manage accounts for user</a></li>
            <li><a href="/api@(Url.Action("Settings"))">Manage settings for user</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Platform services</h2>
        <ul>
            <p>TO BE DEFINED</p>
        </ul>
    </div>
</div>
