@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>User management</h2>
        <ul>
            <li><a href="/api/@Url.Action("Register")">Register new user</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Platform services</h2>
        <ul>
            <p>TO BE DEFINED</p>
        </ul>
    </div>
</div>
