.content-wrapper {
  padding-top: 40px;
}
h1.page-title {
  margin: 0 0 40px;
}

.content-block {
  margin-bottom: 30px;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.10);
  background-color: #fff;
  -webkit-border-radius: $border-radius-large;
  -moz-border-radius: $border-radius-large;
  border-radius: $border-radius-large;
  h2:first-of-type {
    margin-top: 0;
    margin-bottom: 6px;
  }
  /* Buttons */
  .btn-lg {
    height: 64px;
  }
  .h3 {
    color: $text-color;
    font-size: em(24);
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 16px;
  }
}

.pd-30 {
  padding: 30px;
}

.bg-before-success:before {
  background-color: $brand-success;
}
.bg-before-info:before {
  background-color: $brand-info;
}
.bg-before-warning:before {
  background-color: $brand-warning;
}
.bg-before-danger:before {
  background-color: $brand-danger;
}
.bg-before-purple:before {
  background-color: $brand-purple;
}
.bg-before-inactive:before {
  border: 2px solid $gray-light;
}

.btm-content-box {
  position: relative;
  min-height: 328px;
  padding-bottom: 60px;
}

.color-primary {
  color: $brand-primary !important;
}
.color-gray-light {
  color: $gray-light !important;
}

.view-toggler-box {
  @include position(absolute, null 30px 0 30px);
  height: 56px;
  padding-top: 18px;
  font-weight: 500;
  a {
    cursor: pointer;
  }
}

.border-top {
  border-top: 1px solid $gray-light;
}

.publicpage {
  &__footer {
    padding-bottom: 50px;
    color: $text-color;
    &--socials {
      > a {
        display: inline-block;
        @include size(48px);
        background-position: 0 0;
        background-repeat: no-repeat;
        opacity: 0.9;
        + a {
          margin-left: 48px;
        }
        &:hover {
          opacity: 1;
        }
        &._tw {
          background-image: url(../images/twitter.svg);
        }
        &._in {
          background-image: url(../images/linkedin.svg);
        }
        &._fb {
          background-image: url(../images/facebook.svg);
        }
        &._email {
          background-image: url(../images/mail.svg);
        }
      }
    }
    &--text {
      margin: 20px 0;
      padding: 0 24px;
      line-height: 2;
    }
    &--copy {
      line-height: 2;
      opacity: 0.89;
    }
  }
}

/* Flex */
.flex-container {
  @include flexbox();
  > div {
    @include flex(0 1 auto);
  }
}
.flex-vertical-center {
  -webkit-align-items: center;
  align-items: center;
}
.flex-vertical-bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.flex-justified {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
