.navbar.navbar-default.navbar-black {
  height: 80px;
  background-color: #000000;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  a {
    color: #ffffff;
  }
  .navbar-brand {
    display: inline-block;
    @include size(164px, 26px);
    @include translate(15px, 30px);
    background-image: url(../images/Logo@2x.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 164px 26px;
    background-size: 164px 26px;
    font-size: em(24);
    font-weight: normal;
    > span {
      display: none;
    }
  }
  .navbar-collapse {
    background-color: #000000;
  }
  .navbar-header {
    height: 80px;
  }
  .navbar-nav {
    > li {
      &:last-child {
        position: relative;
        @media screen and (min-width: $screen-sm) {
          padding-left: 24px;
          &:before {
            content: '';
            display: block;
            @include position(absolute, 23px null null 24px);
            height: 32px;
            width: 1px;
            background-color: #fff;
          }
        }
      }
      > a {
        outline: 0 !important;
        font-size: em(18);
        font-weight: 300;
        &:hover,
        &:focus,
        &:active {
          color: #ffffff;
          background-color: transparent;
          opacity: 0.9;
        }
        @media screen and (min-width: $screen-sm) {
          padding-top: 30px;
          line-height: 1;
          padding-left: 24px;
          padding-right: 0;
        }
      }
      &.active {
        > a {
          background-color: transparent;
          opacity: 0.9;
        }
      }
    }
    &.navbar-right {
      @media screen and (min-width: $screen-sm) {
        margin-right: 0;
      }
    }
  }
  .navbar-toggle {
    margin-top: 22px;
  }
}